#No whitespace after the comma or in your part name!
config SHIELD_SPLIT222EC_LEFT
	def_bool $(shields_list_contains,split222EC_left)

config SHIELD_SPLIT222EC_RIGHT
	def_bool $(shields_list_contains,split222EC_right)
