if SHIELD_SPLIT222_LEFT #ここを変えてセントラル側に問題のコードを移行

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "split222"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT222_LEFT || SHIELD_SPLIT222_RIGHT

config ZMK_SPLIT
    default y


endif
